.comments {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 0;
}

.commentList {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    min-height: 0;
}

.comment {
    display: flex;
    gap: 16px;
}

.comment img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.commentContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.commentUser {
    font-weight: 600;
    font-size: 15px;
}

.commentText {
    font-size: 14px;
}

.commentTime {
    font-size: 12px;
    color: #888;
}

.commentForm {
    background-color: lightgray;
    padding: 16px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.commentForm input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
}

.emoji {
    cursor: pointer;
    font-size: 20px;
    position: relative;
}

.emojiPicker {
    position: absolute;
    bottom: 50px;
    right: 0;
}