.topBar {
    margin: 16px 0px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.search {
    flex: 1;
    background-color: rgb(233, 229, 229);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.search input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
}