.leftBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 72px;
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 16px 0px;
    border-right: 1px solid #e6e6e6;
}

.menuIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.menuIcon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuIcon:hover {
    background-color: rgb(233, 229, 229);
    border-radius: 12px;
    cursor: pointer;
}

.logo {
    width: 50px;
    height: 50px;
}